data/
node_modules/
.env
*.env
volumes/
venv/
.venv/
__pycache__/
*.pyc
backend/storage/
.DS_Store
examples/health_tracker/
./build.sh
./deploy.sh
./docker-compose-dev.yml
README_internal.md
values.yaml
k8s/loki-virtualservice.yaml
!./.env