data/
node_modules/
.env
.env.firebase
*.env
volumes/
venv/
.venv/
__pycache__/
*.pyc
backend/storage/
.DS_Store
examples/health_tracker/
docker-compose-dev.yml
README_internal.md
helm-chart/values.yaml
k8s/loki-virtualservice.yaml
k8s/openaiplatform-virtualservice.yaml
openaiplatform/
backend/src/plugins/sqlsources/bigquery/keys/
scratchpad.md