data/
node_modules/
.env
.env.firebase
.env.neo4j
.env.vecsearch
volumes/
venv/
.venv/
__pycache__/
*.pyc
backend/storage/
.DS_Store
examples/health_tracker/
README_internal.md
helm-chart/values.yaml
k8s/loki-virtualservice.yaml
k8s/openaiplatform-virtualservice.yaml
openaiplatform/
backend/src/plugins/loaders/gmail/keys/
backend/src/plugins/loaders/googledrive/keys/
backend/src/plugins/sqlsources/bigquery/keys/
backend/src/plugins/llms/gemini/keys/
scratchpad.md
/neo4j/
mage_data/
metadata.yaml
backend/src/plugins/tools/bigquery/keys/
backend/src/plugins/tools/bigquery_sql/keys/
backend/src/config/serviceAccountKey.json
.env.local
.env.local.*
token.json
credentials.json
keys/*.json