apiVersion: v1
data:
  ENV: "prod"
  FILE_BUCKET: "{{ .Values.appname }}"
  DOCUMENTS_PREFIX: "documents"
  IMAGES_PREFIX: "images"
  PORT: "5000"
  PGHOST: "postgres-postgresql.pgdatabase.svc.cluster.local"
  PGPORT: "5432"
  PGDATABASE: "{{ .Values.db.name }}"
  REDIS_HOST: "redis-master.redis.svc.cluster.local"
  S3_ENDPOINT: "{{ .Values.s3.endpoint }}"
  SEARCH_API: "http://vecsearch.vecsearch.svc.cluster.local:6010/api"
  ONESOURCE_API_URL: "http://onesource-service.promptstore.svc.cluster.local:5000"
  MAILTRAP_TEMPLATE_UUID: "8862edc9-7dd8-426b-8355-88a563dd23c5"
  MAILTRAP_TOKEN: "f4147b368f14207f43af75e8090efc99"
  SENDER_EMAIL: "agent@devsheds.io"
  PROMPTSTORE_EMAIL: "promptstore.dev@gmail.com"
  LOKI_API_URL: "http://loki-gateway.loki.svc.cluster.local"
  TEMPORAL_URL: "temporal-frontend.temporal.svc.cluster.local:7233"
  TEMPORAL_NAMESPACE: "promptstore"

  ANAML_API_URL: https://gcp.dev.anaml.io/api
  EUROPA_PII_API_URL: "https://p-i-i-service.default.plaetoseq.dev/predict"
  HUGGINGFACE_PII_API_URL: "https://api-inference.huggingface.co/models/beki/en_spacy_pii_distilbert"
  GPT4ALL_API: "https://gpt4all.devsheds.io/api/v0.1.0/predict"
  LOCALAI_BASE_PATH: "https://localai.devsheds.io"
  PALM2_MODEL_NAME: "models/text-bison-001"
  HUGGINGFACE_BASE_URL: "https://api-inference.huggingface.co/models"
  HUGGINGFACE_HUB_API: "https://huggingface.co/api"
  KEYCLOAK_HOST: "https://auth.acme.com/auth"
  KEYCLOAK_CALLBACK: "https://promptstore.devsheds.io/api/auth/keycloak/return"
  KEYCLOAK_REALM: "AgencyAI"
  KEYCLOAK_CLIENT_ID: "promptstore"
  TOKEN_STORE_KEY: "onetoks"
  SERPAPI_URL: "https://google.serper.dev/search"
  EXTRACTOR_PLUGINS: "onesource|Onesource|./plugins/extractors/onesource,unstructured|Unstructured|./plugins/extractors/unstructured"
  FEATURE_STORE_PLUGINS: "east|Feast|./plugins/featurestores/feast,anaml|Anaml|./plugins/featurestores/anaml"
  GUARDRAIL_PLUGINS: "pii|PII Detection|./plugins/guardrails/pii|type=input,emojiremover|Emoji Remover|./plugins/guardrails/emojiremover|type=output"
  LLM_PLUGINS: "openai|OpenAI|./plugins/llms/openai,vertexai|VertexAI|./plugins/llms/vertexai,gpt4all|GPT4all (Private instance)|./plugins/llms/gpt4all,localai|LocalAI (Private instance)|./plugins/llms/localai"
  LOADER_PLUGINS: "api|API Loader|./plugins/loaders/api,structureddocument|Structured Document Loader|./plugins/loaders/structureddocument,csv|CSV Loader|./plugins/loaders/csv"
  MODEL_PROVIDER_PLUGINS: "huggingface|Huggingface|./plugins/modelproviders/huggingface"
  OUTPUT_PARSER_PLUGINS: "numberedlist|Numbered List|./plugins/outputparsers/numberedlist,list|Inline List|./plugins/outputparsers/list,json|Parse or fix JSON|./plugins/outputparsers/json,boolean|Boolean|./plugins/outputparsers/boolean,datetime|DateTime|./plugins/outputparsers/datetime"
  PASSPORT_PLUGINS: "localapikey|Local API Key|./plugins/passport/localapikey,keycloakbearer|Keycloak Bearer|./plugins/passport/keycloak"
  SQL_SOURCE_PLUGINS: "postgresql|PostgreSQL|./plugins/sqlsources/postgresql"
  TOOL_PLUGINS: "serpapi|SerpAPI|./plugins/tools/serpapi,calculator|Calculator|./plugins/tools/calculator,weather|Weather|./plugins/tools/openweather,email|Email|./plugins/tools/email"
kind: ConfigMap
metadata:
  name: "{{ .Values.appname }}"
  namespace: "{{ .Values.namespace }}"
