.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px)
  }

  100% {
    transform: translateY(0px)
  }
}

.logo-image {
  display: block;
}

.logo-image>div {
  display: flex;
  margin: 15px 0px 0px 22px;
}

.logo-image>div>div:first-child {
  width: 32px;
}

.logo-image>div>div:last-child {
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px 0px 0px 6px;
}

.logo-image.collapsed {
  overflow: hidden;
  width: 54px;
}

.logo-image img {
  max-width: inherit;
  width: 32px;
}

.ant-layout-sider-dark a {
  color: #ccc;
}

.ant-tag .anticon {
  vertical-align: middle;
}

.col-hdr-nowrap {
  white-space: nowrap;
}

li img {
  margin-right: 5px;
}

.tree-view-section .tree-view i {
  width: 18px;
}

.body-section .single-image:hover .single-image-name {
  bottom: 0;
  top: auto;
}

.body-section.expanded {
  left: 0;
  width: 100%;
}

.body-section .loading-more {
  display: block;
}

.body-section .loading-more.hidden {
  display: none;
}

.tree-view-section {
  width: 0;
}

.tree-view-section.expanded {
  width: 20%;
}

.filter-section .title {
  margin-right: 8px;
}

.image-preview-modal .detail-box .detail-item .title {
  display: inline-block;
  width: 150px;
}

#imagebox_mdc_app_url span+button {
  margin-left: 3px;
}

.dark .search-box input {
  color: black;
}

.body-section {
  left: 0;
  /* width: 100%; */
}

.body-section .loading-more {
  bottom: 0;
  left: 0;
  width: 100%;
}

.tree-view-section {
  border-right-width: 2px;
  border-top: none;
  overflow: auto;
}

.dark .tree-view-section {
  background-color: rgb(0, 0, 0);
}

.dark .tree-view-section .tree-view a,
.dark .tree-view-section .tree-view span {
  color: rgba(255, 255, 255, 0.65);
}

.dark .tree-view-section .tree-view a:hover,
.dark .tree-view-section .tree-view span:hover {
  color: rgb(255, 255, 255);
}

.body-section {
  overflow: auto;
}

.dark .ant-form-item-label {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-title {
  white-space: nowrap;
}

.light .navbar-title {
  color: rgb(51, 51, 51);
}

.ant-btn>span[role="img"] {
  display: inline-flex;
}

.my-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
  vertical-align: middle;
  padding-top: 14px;
}

.my-form-item-label>label::after {
  content: ":";
  position: relative;
  margin-block: 0;
  margin-inline-start: 2px;
  margin-inline-end: 8px;
}

#about {
  margin-top: 20px;
  max-width: 50%;
}

@media (max-width: 1500px) {
  #about {
    max-width: 75%;
  }
}

@media (max-width: 1200px) {
  #about {
    max-width: 100%;
  }
}

.drag-handle {
  display: inline-grid;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: grab;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.drag-handle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat .ant-checkbox {
  /* align-self: baseline; */
  align-self: center;
  margin-bottom: 13px;
}

.chat .ant-checkbox-wrapper {
  display: flex;
  width: 100%;
}

.chat .ant-checkbox-wrapper>span {
  width: 100%;
}

.chat .ant-checkbox-wrapper>span.ant-checkbox {
  width: auto;
}

.chat .ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-inline-start: unset;
}


.react-flow .react-flow__handle {
  /* width: 30px;
  height: 14px;
  border-radius: 3px;
  background-color: #784be8; */
  width: 10px;
  height: 5px;
  border: none;
  border-radius: 0;
  background-color: #778899;
}

.react-flow .react-flow__handle-top {
  /* top: -10px; */
  top: -5px;
}

.react-flow .react-flow__handle-bottom {
  /* bottom: -10px; */
  bottom: -5px;
}

.react-flow .react-flow__node {
  width: 150px;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: calc(100% - 164px);
}


.react-flow__node-compositionNode,
.react-flow__node-sourceNode,
.react-flow__node-functionNode,
.react-flow__node-indexNode,
.react-flow__node-joinerNode,
.react-flow__node-mapperNode,
.react-flow__node-outputNode,
.react-flow__node-requestNode,
.react-flow__node-toolNode,
.react-flow__node-modelNode,
.react-flow__node-promptSetNode,
.react-flow__node-scheduleNode,
.react-flow__node-semanticSearchNode,
.react-flow__node-dataSourceNode,
.react-flow__node-documentNode {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-modelNode,
.react-flow__node-promptSetNode,
.react-flow__node-semanticSearchNode,
.react-flow__node-dataSourceNode,
.react-flow__node-documentNode {
  font-size: 12px;
}

.react-flow__node-compositionNode .react-flow__handle,
.react-flow__node-sourceNode .react-flow__handle,
.react-flow__node-functionNode .react-flow__handle,
.react-flow__node-indexNode .react-flow__handle,
.react-flow__node-joinerNode .react-flow__handle,
.react-flow__node-mapperNode .react-flow__handle,
.react-flow__node-outputNode .react-flow__handle,
.react-flow__node-requestNode .react-flow__handle,
.react-flow__node-toolNode .react-flow__handle,
.react-flow__node-modelNode .react-flow__handle,
.react-flow__node-promptSetNode .react-flow__handle,
.react-flow__node-scheduleNode .react-flow__handle,
.react-flow__node-semanticSearchNode .react-flow__handle,
.react-flow__node-dataSourceNode .react-flow__handle,
.react-flow__node-documentNode .react-flow__handle,
.react-flow__node-binNode .react-flow__handle {
  width: 5px;
  height: 8px;
  border: none;
  border-radius: 0px;
  background-color: #778899;
}

.react-flow__node-compositionNode .react-flow__handle-left,
.react-flow__node-sourceNode .react-flow__handle-left,
.react-flow__node-functionNode .react-flow__handle-left,
.react-flow__node-indexNode .react-flow__handle-left,
.react-flow__node-requestNode .react-flow__handle-left,
.react-flow__node-toolNode .react-flow__handle-left {
  left: -15px;
}

.react-flow__node-joinerNode .react-flow__handle-left,
.react-flow__node-mapperNode .react-flow__handle-left,
.react-flow__node-outputNode .react-flow__handle-left,
.react-flow__node-scheduleNode .react-flow__handle-left {
  left: -5px;
}

.react-flow__node-compositionNode .react-flow__handle-right,
.react-flow__node-sourceNode .react-flow__handle-right,
.react-flow__node-functionNode .react-flow__handle-right,
.react-flow__node-indexNode .react-flow__handle-right,
.react-flow__node-outputNode .react-flow__handle-right,
.react-flow__node-requestNode .react-flow__handle-right,
.react-flow__node-toolNode .react-flow__handle-right {
  right: -15px;
}

.react-flow__node-joinerNode .react-flow__handle-right,
.react-flow__node-mapperNode .react-flow__handle-right,
.react-flow__node-scheduleNode .react-flow__handle-right {
  right: -5px;
}

.custom-node__header {
  padding: 4px 8px;
  border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
  padding: 10px;
}

.custom-node__select {
  position: relative;
  margin-top: 8px;
}

.custom-node__select .ant-btn.ant-btn-sm {
  font-size: 9px !important;
  height: 20px !important;
}

.custom-node__select:first-child {
  margin-top: 0;
}

.custom-node__select select {
  width: 100%;
  font-size: 10px;
  outline: none;
}

.custom-node__select div {
  font-size: 9px;
  font-weight: 400;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}

.search-panel .ais-Hits,
.search-panel .pagination {
  margin-top: 20px;
}

.search-panel .ais-Hits-item:hover {
  background-color: #eee;
}

article.collapsible {
  width: 100%;
}

article.collapsible .header {
  cursor: pointer;
}

article.collapsible .header:hover {
  color: #1677ff;
}

article.collapsible .header>span {
  margin-left: 8px;
}

article.collapsible .header>span[role=img] {
  margin-left: 0;
}

article.collapsible .panel .react-json-view {
  max-height: 250px;
  overflow-y: auto;
}

article.collapsible .panel.closed {
  display: none;
}

.ant-table-thead {
  white-space: nowrap;
}

.ant-table-tbody {
  vertical-align: top;
}

#menu {
  flex: 0 0 215px !important;
  max-width: 215px !important;
  min-width: 215px !important;
  width: 215px !important;
}

#menu.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.json-schema-react-editor-adv-modal .other-row {
  margin-bottom: 8px;
}

.json-schema-react-editor-adv-modal .other-row .ant-checkbox-wrapper {
  margin-left: 8px;
}

.json-schema-react-editor-adv-modal .ant-col+.ant-col {
  padding-left: 8px;
}

.markdown p {
  margin-bottom: 8px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  font-weight: 600;
  margin-bottom: 8px;
}

/* 
.markdown h5 {
  margin-bottom: 8px;
} */

.markdown h1 {
  font-size: 1.25em;
}

.markdown h2 {
  font-size: 1.15em;
}

.markdown h3 {
  font-size: 1.1em;
}

.markdown ul,
.markdown ol {
  margin-bottom: 12px;
  margin-top: -4px;
  padding-left: 14px;
}

#function .ant-col-23.ant-col-offset-1.ant-form-item-label {
  text-align: start;
}

.prompt-help {
  margin-top: 16px;
}

.prompt-help>div {
  margin-top: 4px;
}

.prompt-help a,
.mapping-modal a {
  color: #177ddc;
}

.model-list-row,
.function-list-row,
.promptset-list-row,
.document-list-row {
  vertical-align: middle;
}

.model-list-row .ant-space {
  vertical-align: bottom;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (width > 2057px) {
  .chat {
    max-width: 1500px
  }
}

.chat .ant-radio-group>* {
  margin-bottom: 8px;
}

.chatline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  min-width: 25%;
}

.chatline.assistant {
  margin-right: 100px;
}

.chatline.user {
  margin-left: 100px;
}

.chatline>* {
  margin-right: 8px;
}

.chatline>*:last-child {
  margin-right: 0;
}

.chatline .ant-radio {
  width: 16px;
}

.chatline .avatar {
  width: 32px;
}

.chatline .content {
  flex: 1;
  font-size: 14px;
}

.chatline.user .content {
  text-align: right;
}

.chatline.user .content>div {
  display: inline-block;
  text-align: left;
}

#copy-params {
  margin-top: 5px;
}

#params-form {
  color: rgb(136, 136, 136);
  display: flex;
  flex-direction: column;
}

#params-form .fields-container {
  margin-bottom: 24px;
  width: 250px;
}

#params-form .form-section {
  border-left: 3px solid #303030;
  padding-left: 15px;
}

#params-form .form-section .ant-form-item {
  margin-bottom: 6px;
}

#params-form .form-section .ant-form-item:last-child {
  margin-bottom: 0;
}

#params-form .small {
  font-size: 0.85em;
}

.icon-copy:before {
  content: "\7b";
}

#function-form .ant-form-item {
  margin-bottom: 16px;
}

#function-form .ant-col .ant-form-item {
  margin-bottom: 8px;
}

#function-form .ant-col-24.ant-form-item-label {
  padding: 0;
}

#function-form .ant-form-item-extra {
  margin-bottom: -8px;
}

.trace-step div.ant-typography {
  margin-bottom: 0;
  margin-top: 1em;
}

.trace-step div.ant-typography.first {
  margin-top: 0;
}

.trace-step .ant-typography-secondary {
  font-style: italic;
}

.trace .ant-descriptions-item-content .ant-tree {
  width: 100%;
}

.trace-status .ant-descriptions-item-content .anticon {
  margin-right: 8px;
}

.trace-status .ant-descriptions-item-content .anticon svg {
  fill: #f5222d;
}

.trace-status .ant-descriptions-item-content .success .anticon svg {
  fill: #52c41a;
}

.failure .anticon svg {
  fill: #f5222d;
}

.success .anticon svg {
  fill: #52c41a;
}

.trace-status {
  background-color: #d8d8d9;
  border-radius: 6px;
  min-height: 900px;
}

.trace,
.trace-step,
.trace-status {
  padding: 10px 15px;
}

.trace .ant-descriptions-header {
  margin-bottom: 0;
}

.trace-step ul,
.trace-step ol {
  margin-left: 16px;
}

#avatar-gallery .image-section {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  align-items: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0;
}

#avatar-gallery .single-image {
  width: 70px;
  height: 70px;
  margin: 0;
}

.link-highlight {
  color: #1677ff;
  font-weight: 600;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.9em;
}

.chat-sep {
  border-left: 1px solid rgba(5, 5, 5, 0.06);
  padding-left: 24px;
}

#promptSets .ant-col-4 {
  min-width: 120px;
}

.table {
  border-collapse: separate;
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-col {
  display: table-cell;
  padding: 0 10px 10px 0;
  vertical-align: middle;
}

.table-col:first-child,
.table-col:last-child,
.table-col:nth-last-of-type(2) {
  padding: 0 0 10px 0;
}

.table-col:first-child,
.table-col:last-child {
  width: 32px;
}

.table-col>.drag-handle {
  width: 32px;
  height: 32px;
  padding: 10px;
}

.dynamic-delete-button {
  font-size: smaller;
}

.chat-actions {
  display: flex;
}

.chat-actions>* {
  margin-bottom: 16px;
  margin-left: 8px;
}

.chat-actions>*:first-child {
  margin-left: 0;
}

.prompttext p {
  margin-bottom: 0;
}

.model-view .prompttext p {
  margin-bottom: 8px;
}

.prompttext .promptindent {
  padding-left: 24px;
}

.prompttext code {
  color: chocolate;
}

.prompttext code.promptcontrol {
  background: none;
  border: none;
  color: blueviolet;
  display: block;
  margin: 0;
  padding: 8px 0;
}

.prompttext code.highlightedvar {
  background-color: gold;
}

.prompttext p {
  margin-top: 14px;
}

.prompttext p:first-child {
  margin-top: 0;
}

.ant-descriptions-item-content fieldset {
  border: 1px solid #d9d9d9;
}

.ant-descriptions-item-content fieldset legend {
  border: none;
  font-weight: 600;
  padding: 3px 8px 0;
  margin-bottom: 0;
  margin-left: 16px;
  width: unset;
}

.funcstep>div {
  text-align: center;
}

.funcstep>div:first-child {
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
}

#user-uploads-table a {
  color: rgba(0, 0, 0, 0.88);
}

.model-view .ant-descriptions .ant-descriptions-row>td {
  padding-bottom: 8px;
}

.search-panel .ais-SearchBox-input,
.search-panel .ais-Hits-item,
.search-panel .ais-InfiniteHits-item,
.search-panel .ais-Pagination-item--selected .ais-Pagination-link {
  box-shadow: none;
}

.search-panel .ais-Hits-item,
.search-panel .ais-InfiniteHits-item {
  border-width: 1px;
}

.ais-Hits-list {
  height: 374px;
  overflow-y: scroll;
}

.search-panel .ais-SearchBox-input {
  border: none;
}

.search-panel .ais-SearchBox-submit {
  display: block;
}

.searchbox-submit {
  cursor: pointer;
  line-height: 40px;
  padding: 0 8px;
  width: 56px;
}

.searchbox-submit:hover,
.search-panel .ais-SearchBox-submit:hover {
  color: #69b1ff;
}

.search-panel .ais-SearchBox-reset,
.search-panel .ais-SearchBox-loadingIndicator {
  right: 109px;
}

.searchbox-container {
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  display: flex;
}

.searchbox {
  flex: 1;
}

.inline-label {
  color: rgb(128, 127, 128);
  display: inline-flex;
  font-size: 14px;
  opacity: 0.8;
}

.function-card .inline-label,
.ps-card .inline-label {
  width: 36px;
}

.inline-label::after {
  content: ":";
  position: relative;
  margin-block: 0;
  margin-inline-start: auto;
}

.ant-layout-sider .ant-list-header {
  background-color: rgb(250, 250, 250);
  font-weight: 600;
  padding: 16px 16px 16px 32px;
}

#promptset-view .ant-layout-sider .ant-list-header {
  padding: 16px;
}

#promptset-form .ant-layout-sider .ant-list-item {
  padding: 16px 16px 16px 32px;
}

#promptset-view .ant-layout-sider .ant-list-item {
  padding: 16px;
}

.ant-layout-sider .ant-list .ant-list-item {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.ant-table-cell {
  vertical-align: middle;
}

.ant-space-item>.ant-tag {
  margin-right: 0;
}

.ps-view-card .ant-description-item {
  padding-top: 8px;
}

.ps-view-card .ant-descriptions .ant-descriptions-row>th {
  padding-bottom: 0;
}

.editable-cell-value-wrap {
  cursor: pointer;
  line-height: 32px;
}

.ant-checkbox-group.eval-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 278px;
}

.ant-checkbox-group.eval-options .ant-checkbox-group-item {
  margin: 0;
  width: 135px;
}

.ant-checkbox-group.eval-options .ant-checkbox-group-item span:first-child {
  width: 16px;
}

.ant-form.eval-form .ant-form-item {
  margin-bottom: 8px;
}

.ant-form.eval-form .ant-form-item:first-child {
  margin-bottom: 24px;
}

.ant-form.eval-form .ant-form-item:last-child {
  margin-bottom: 0;
}

.folders .heading-wrapper {
  background: #fff;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  height: 56px;
  padding-top: 1px;
}

.heading-wrapper .heading {
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
  font-weight: 600;
  padding: 0 28px;
}

.folders .ant-tree-title .ant-typography {
  max-width: 118px;
}

.folders .ant-tree {
  border-radius: 0 0 8px 8px;
  width: 150px;
}

.folders .ant-tree .ant-tree-switcher-noop {
  width: 0;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0;
}

.custom-node__header a {
  color: #1677ff;
}

.custom-node__header a:hover,
.custom-node__header a:active {
  color: #69b1ff;
}